

<div class="banner" style="background-image: url(https://images.squarespace-cdn.com/content/v1/589a866f725e250f86437b3d/1486522186367-LSI7L5ZVH8BBT8ZK9E0Z/beaver_log.jpg?format=1500w);">
  <div class="container">
    <h1>Would you help me build my <strong>Movie</strong> <strong>Dam</strong>?</h1>
    <p></p>
  </div>
</div>

<div class="container">

  <div class="m-5 d-flex justify-content-center align-item-center"><h1>My Dams</h1></div>

  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
    <div class="card-category mb-3 list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= nil ? "https://media.istockphoto.com/id/1271522601/photo/pop-corn-and-on-red-armchair-cinema.jpg?s=612x612&w=0&k=20&c=XwQxmfrHb-OwV5onPUW5ApB4RaGBK7poSIzZj4q_N_g=" : list.movies.all.first.poster_url if nil %>)"><%= list.name %></div>
    <% end %>
  <% end %>

  <%= link_to new_list_path do %>
    <div class="card-category mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">+</div>
  <% end %>

</div>
