<h1>🎬</h1>

<div class="container">
  <div class="cards">
    <% @movies.each do |movie| %>
      <div class="card-trip">
        <%= image_tag movie.poster_url %>
        <div class="card-trip-infos">
          <div>
            <%= link_to "", new_movie_bookmark_path(movie), class: "fa-sharp fa-solid fa-bookmark" %>
            <h2><%= movie.title %></h2>
            <p><%= movie.overview %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<i class="fa-sharp fa-solid fa-bookmark"></i>
